*{
    margin:0; /* distancia externa */
    padding:0; /*distancia interna*/
}

body{
    font-family: 'roboto',sans-serif;
}

.contenedor{
    width: 90%;
    max-width: 1500px;
    margin:auto;
}

nav{
    width: 100%;
    height: 80px;
    background-color: blanchedalmond;
    border-bottom: 1px solid transparent;
    box-shadow: 1px 1px 10px 0 rgb(0,0, .2);
    position: fixed;
    top:0;
    z-index: 100;

}
.nav{
    display: flex;
    justify-content: space-between;
    height: 80px;
    width: 100%;
    align-items: center;
    padding: 0 40px;
}

.nav .logo {
    height: 80px;
}

.nav .logo img {
    height: 100%;
}

.nav .enlaces_header a {
    color: brown;
    text-decoration:none;
    margin-left: 20px;


}

.contenido_header {
    width: 100px;
    height: 600px;
    display: flex;
    justify-content:center;
    align-items: center;
}

.contenido_header > img {
    width: 100px;
    height: 100px;
}