body {background-color: rgb(231, 46, 212);}



img{
    width: 200px; /*ancho de la imagen*/
    height: 200px; /*ancho de la imagen*/
}

tr:hover{
 background-color: blueviolet;    
}

input{
    border-radius: 5px;
    border: 2px solid rgb(252, 5, 5);
}

.tipoinputs{
    background-color: coral;
}

#nombrepersona{
    height: 20px;
    background-color: violet;
}

#clave{
    height: 20px;
    background-color: rgb(58, 152, 186);
}

#day{
    height: 20px;
    background-color: teal;
}

#archivos{
    height: 20px;
    background-color: springgreen;
}

#tel{
    height: 20px;
    background-color: deepskyblue;
}

#direccion{
    height: 20px;
    background-color: rgb(81, 177, 12);
}

#observacion{
    height: 20px;
    background-color: lightseagreen;
}